.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #f2f2f2;
}

/*nav bar */
.sidebutton {
  margin: 0;
  width: 100%;
  background-color: #3b4351;
  color: #f2f2f2;
}
.sidebutton:hover {
  color: blue;
}
.off-canvas .off-canvas-sidebar {
  top: 53px;
  bottom: auto;
}
/*nav style end here*/

.register-wrapper {
  width: 40%;
  min-width: 230px;
  margin: auto;
}
.addsong-wrapper {
  width: 30%;
  min-width: 300px;
  margin: auto;
}
.navbar {
  height: 70px;
}
footer {
  text-align: center;
  margin-top: auto;
}
footer p {
  margin: 10px;
}
.add-button-wrapper {
  margin: 20px 0;
  justify-content: flex-end;
}
.btn-group.btn-group-block {
  margin: 30px 0;
}
main {
  padding: 10px;
}
.section-wrapper {
  min-width: 90%;
  padding: 0 calc((100vw - 1200px) / 2);
}

.section-wrapper.navigation {
  background-color: #333;
}
.section-wrapper.navigation .btn.btn-link {
  color: #eee;
}

.section-wrapper:last-child {
  margin-top: auto;
}
.section-wrapper.footer {
  background-color: #f2f2f2;
  border-top: 1px solid #cecece;
}
.section-wrapper.main-section {
  background-color: #fff;
  max-width: 1200px;
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-direction: column;
  min-height: calc(100vh - (70px + 44px));
}
tr:hover {
  background: #eef0f3;
}

/*this is Homepage style */
.home {
  margin: 2% auto;
  width: 70%;
  min-width: 250;
  min-height: calc(100vh - (70px + 44px));
  background: url("/assets/images.jpg") no-repeat left center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.home h3 {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-top: 20px;
  color: #fff;
}
.home button {
  display: flex;
  margin: auto;
  margin-top: 30px;
}
.button {
  font-size: 18px;
  min-width: 145px;
  text-align: center;
  height: 46px;
  line-height: 46px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10px 10px 10px 10px;
}
/*playlist with songs*/
.addsong {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.removesong {
  float: right;
}
/*contact page style*/
.contactContainer {
  display: flex;
  margin: 50px auto;
}
#contact h1 {
  border-bottom: 1px solid rgb(76, 67, 65);
  max-width: 400px;
}
#contact h3 {
  font-size: 1.4em;
}
/*contact heading 2*/
#contact h2 {
  font-size: 1.4em;
  float: none;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(76, 67, 65);
  max-width: 400px;
}
/*contact list*/
#contact ul {
  list-style: none;
}
/*contact list*/
#contact li {
  display: block;
  width: 5px;
  margin-bottom: 1em;
  width: 225px;
}
/*this style for link for youtube,linkedin,facebook*/
#contact li a {
  color: rgb(76, 67, 65);
  border: none;
  padding-left: 40px;
  line-height: 50px;
  font-size: 1.2em;
  display: block;
}
/*this is for current*/
#contact li a:hover {
  color: rgb(123, 121, 143);
}
/*these are icon in the contact page*/
a.facebook {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsRJREFUeNrUWL9v00AUPkeV6ITcAalVGRwxpZPThR9TAmJjCOqExFAj/gD8F0QREmsZGRDJgMRUkYENQTLxYwFPZULNACoSA6eylCm87/RcnV3bZ5s6NZ/0FCv23ff53Xvv7tkSJTCfz136gTkJt2dkgWVZQdF5rQICQNwn65HZR0d/xI+DnyeeW127IJaXz+FSko3JBiRsdipiWMSQrCN/HYr37wKxv/8tUYguqNm8KK5ec4W9ch5/Tck8kyjLIOQB/exAxMvd10pEUUDU7a2boSifBD0uJIZE2BBBtj15+1FM3nwQ/4rujSuie/0yLkcsShrFsJAJxYT74vmrUt7I8tKdu7cQUwjublxQkpghCdl+9nQ3My4ABGp7c0M4zXWxQsuAWFGRS8sq5SG9yHc1x5e9r5F4und/C2NHJMZLFRPGyJCEmDzS2rikYoEzJxOPHj4RyD7dQx4JisdQI5Y1O4gRkxAEY14h8JIuBMD84AEf80bFIH0xME+wImXzCAEOUpYaPODjsqGwpHmlg/TNgzWOjcjk9KafP+2FBEps0nM6wEfL1QE/alDomT4mKZs5EKG9qQKWBvNlzYl7PKavL1MPlbUspPxdeizz9tQy8aZnm7yCFG5vto7TM3Kv3aIMWU8chxKRBea1oQMx46ZtevEMcigl0+5xuS8M8IKfYszFMjkmIVWD+Z2GqBGW8j6IbAlrEMq5vmSntZnWyjO1EzNbNVTKqsH8qgIHKN1nJUg7MwcNPsXLZkoNqRrMK6EjjJkxduKzAPOO9QAeoIIu2jvg48o9OBbDLcQUB6ZFgvmmYQujp7YHlTjFLwLgYa94J+oMq/PRTlS9XJif2xZfb+wiRY8PxyO0E1WlOubF/OCJN3RJFdhHX4P9J81DONfO6BwSmn7CM3mE2xSUE///6ihr12vX8itE7b7PLPLL1V8BBgDG73obtV/8SAAAAABJRU5ErkJggg==)
    no-repeat left center;
}
a.linked {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAsFJREFUeNrMmD1s01AQx5+jSJQFpUMlKnVwYGqnpAu0A0qoGPgYijpRdYhRJ4QEmZGIgsQc2BHp0MJUkaGIAUEihpZO8USmEg9FRWLAYmk6hfuHc3DjFztxHccnnRK9PL/75d7du3dWhA9pt9sp+oCqkp8NUl1RFH3YdZUhAGC4QLpMmmi1TsTPo1+OeRenp8TExDl8NUkrpEUCMwKBYYgyacb8/Ufs7eqi2TyUgtiBkskZsbCYEonJCxiqkWpeUIoHyGP6KAHi3fbHDsSwAqi7KzcsqDwBvRgKhiASgCDNVT/vi+qnr+Kskl26KrLXr+DrBkOZnjAMUqWYSL3d3PHlDTcv3Vu7g5hCcGd7gWQwZQLJvX613YkLLKCtr5ya8/TJS99AiKf7tB4BbRCMZv8tJomRHDziFqBnEayL9WGH7TlhOGtKiJEgt0YmWB92YI/tOjxTRtYEEayDCOzAHh8b/2GYLoP0DVPYXsbyjuWZAihHvT2y7WLvFOwwyzhZxyFsFyVGxLnoJcL2it07sA+OOKpvv6I3yJlxnoriMT+PAjlNY+qlme6c1vGJaDQOrO2Qpjrs07MdGNXvmXLr9jWhJv8Zbnw7ELNzl6XzbtK8vd26+PD+S18gWkeNBeXufiCWLCymRXp+znVOLOgYwL80KA4MSQym52ddn40HCfFma+dUbCCGHjxcta4P3S0duWcQhL1BirF6vTHwGoAxkBXjFLZvAEaHO8cFZLsz6zG+xZtJj/0clbBdExxWzFRweR6HsN2KPZuKFPE5UA5SFp49f+QYQ6b0jiO9m80frl7hTCt2s4lbiBpu8WEK26tZLYw9tTVQ4hYfhsAOe0VzHHqgo8qZp3aiZHw/7G4XiqDhs6If0UGIs6f3eWwPty15e2Pn2R2MIpX7dQfR7psi1VFGrteO5FuIyL2fCfPN1V8BBgC1+pXDVk2EjQAAAABJRU5ErkJggg==)
    no-repeat left center;
}
a.youtube {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1lJREFUeNrMWL+PEkEUHgjJYWOwMNHEArTiKrA5TxMjGgujxZmrTCzA2Ct/wQUTayyMlZErjFddpNBYGIWYCNgIFVcpW9wFE4sjNmKF74M3yzA7+4sjF14yYY/bnfft9773zQwRMUeMRqMMfWAkDf+2aHQikUgn7LyREACQeIvGBo3EcPhP/Or/dtx35uxpEY+v4HJAo0qjRMCshYBhEBUa1waHf0Sz0RG93r4RiAoolTon1i9nROLUSXxVp1HwAxXxAfKYPsoA8Xb34xhE2ACou5s3JagiAXoWCgyBSAAEjXzt8zdR+9QSR43cjUsid30Nl9sMauALhoHUSBOZndfv5mLDi6V79+9AUxB3TgcUNTxTBpBXL3cXCgSB+TAv5mfm3ZmRGqkcAciTp4/sa7d5wFDh4aZDQ1Gta8rQyKIZMTGEPMjHeR1lqqBrFiHWIIE8yMe2MS0To+vptD6YUMlvc+AKNHtxlUZ6fJ2kEsiAF8EcZbS/79HomsqVggfF+PstoNTLc0jfIZFM0vzanpncbltqWfYRh/nNlufAUS7kpWfh7AVZpg04q4PKSV3tWL+SNYrRBCRocF4sMSLGi17CJFqg3uv+EOnVC5NyZNOOUmW4PAj1Xq9u0tlBfuAAMxm3RQ/RUhgDA7JsCCyI6t+tRuiFWtXVGEzSa9EDckt5u6zChMqCSXNhAAFHNFgbTrUDIUthYlV209c8EQ1qUuwJNggAkqBAM/RyLGD0N4dOeAVm/+gaWz5slwUGg4QqO6peVFtQ9Xfr9lViMTtuf2whVLGbAqZn6ebkxQ42SjMbXq2EfQIj50O3AZAqctWBNXO0wEwHDwUBBF3o5dDN8sP7L6424ebSvGfuxLCLJ8MZEJUJrxaXQsXbSeDSFPV7Xjx/Y++D4ydWxPDvxMf6hvlTk7VsABxybapSh+SbjbbvTk1lsOlhckju93KKPVRVAZdAYUpZcc372LUZBkz1D7sN5dKVbDB8hKjr4tRrq24PTPoJG5yvLo8wamsXgBIt6EFnoBIFPS0wKwWHzzC6IsxML5e+QFo+h7gg5WHTLKoHO9NRpUL057GLlwnxcPL8FKD1c3/uRRHlxg6S2nmbgBSW9ty03CfKpTtrL+WvEEv3+8xx/nL1X4ABAH5eDkhUFH1oAAAAAElFTkSuQmCC)
    no-repeat left center;
}

/*this is about page style*/
#aboutcont {
  margin: 50px auto;
  width: 660px;
  border: none;
  padding: 20px;
  font-size: 90%;
  background: rgb(237, 228, 214);
  border-radius: 15px 15px 15px 15px;
}
.aboutsite h2 {
  font-size: 1.5em;
  margin-top: 0;
}
.aboutsite h3 {
  font-size: 1.2em;
  border-bottom: 2px solid rgb(76, 67, 65);
  margin-top: 0;
}

.card {
  margin: 20px;
}
