   <!--it is information about web page -->
    <article id="aboutcont">
     <section class="aboutsite">
    <h2>About the web site :</h2>
    <!-- lines about page -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur veritatis, repellendus veniam hic ratione, itaque amet, porro rerum magni illum dolores deleniti consequatur repudiandae sint cupiditate. Dolores soluta eos possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni veniam nam, quaerat aut earum exercitationem. Fugiat eius assumenda quia dolorum laudantium placeat repellat repudiandae ea animi nobis unde, dolore nam.</p>
   <!-- list of photes -->
     <h3> list of :</h3>
      <ul>
        <li>-------------</li>
        <li>-------------</li>
        <li>-------------</li>
        <li>-------------</li>
    </ul>
      </section>

  <!--this is about developer -->
       <section class="aboutsite">
    <h2>About developer:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur veritatis, repellendus veniam hic ratione, itaque amet, porro rerum magni illum dolores deleniti consequatur repudiandae sint cupiditate. Dolores soluta eos possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni veniam nam, quaerat aut earum exercitationem. Fugiat eius assumenda quia dolorum laudantium placeat repellat repudiandae ea animi nobis unde, dolore nam.
    </p>
         </section>
       </article>
       
