  <div class="contactContainer">
  <article id="contact">
    <h1>Interact with us</h1>
    <h3>Phone no: +46732441597</h3>
    <h3>Gmail: Risy19ur@student.ju.se </h3>
    <h3>Address: abc</h3>


    <section class="social">
    <h2>Get yourself connected...</h2>
    <ul>
      <!-- linkedin link -->
    <li>
      <a href="#" 
      title="Join our professional network on LinkedIn" class="linked">LinkedIn</a>
    </li>
    <!-- youtube link  -->
    <li>
      <a href="#"
      title="Join our youtube channal" 
       class="youtube">YouTube</a>
    </li>
    <!-- facebook link -->
    <li>
      <a href="#" title="Be our friend" class="facebook">Facebook</a>
    </li>
    </ul>
    </section>
   </article>
</div>