<div class="home">
    <h2>Create Music Playlist </h2>
    <h3>Discover,Create and share a constantly expanding mix of music <br />from emerging and major artists around the world.</h3>
    {{#if authenticated}}
    <h2>Welcome  {{user.name}}</h2>
    {{else}}
    <a href="/register">
      <button class="button">Sign up for free</button>
    </a>
    {{/if}}
</div>