<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musicified.com</title>
    <link rel="stylesheet" href="/dist/spectre.min.css">
    <link rel="stylesheet" href="/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/styles.css">
    <style>
    body {
      --nav-color: #333;
      --plain-white: #fff;
      --half-white : #f2f2f2;
      --text-color : #eee;
    }
    
    </style>
</head>

<body>
    <div class="container">
        <div class="section-wrapper navigation">{{> navigation}}</div>
        <div class="section-wrapper main-section">{{{body}}} </div>
        <div class="section-wrapper footer">{{> footer}}</div>
    </div>
</body>
</html>
