<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pony Express</title>
    <link rel="stylesheet" href="/dist/spectre.min.css">
    <link rel="stylesheet" href="/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="/dist/spectre-icons.min.css">
    <style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
 
    .register-wrapper {
        min-width : 400px;
        max-width: 400px;
        margin:0 auto;
    }
    .navbar {
        height:70px;
    }
    footer {
        height: 50px;
        text-align: center;
        margin-top: auto;
    }
    .add-button-wrapper{
        margin: 20px 0;
        justify-content: flex-end;
    }
    .btn-group.btn-group-block {
            margin: 30px 0;
    }
    main {
      padding : 10px;
    }
    </style>
</head>

<body>
    <div class="container">
        {{> navigation}}
        {{{body}}}
        {{> footer}}
    </div>
</body>
</html>