<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pony Express</title>
    <link rel="stylesheet" href="/dist/spectre.min.css">
    <link rel="stylesheet" href="/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="/dist/spectre-icons.min.css">
    <style>
    .container {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .register-wrapper {
        max-width: 400px;
        margin: auto;
    }
    footer,.navbar {
        height:70px;
    }
    footer {
        margin-top: auto;
    }
    .add-button-wrapper{
        margin: 20px 0;
        justify-content: flex-end;
    }
    </style>
</head>

<body>
    <div class="container">
        {{> navigation}}
        <main>
            {{{body}}}
        </main>
        {{> footer}}
    </div>
</body>
</html>