<div class="register-wrapper">
  <form action='/login', method='post'>
    <div class="form-group">
      <label class="form-label" for="input-example-1">Username</label>
      <input class="form-input" type="text" id="username"  name="username" placeholder="Name">
    </div>
    <div class="form-group">
      <label class="form-label" for="input-example-1">Password</label>
      <input class="form-input" type="password" id="password"  name="password" placeholder="Name">
    </div>
    <div class="btn-group btn-group-block">
      <button class="btn btn-primary">Login</button>
    </div> 
  </form>
</div>

