<main>
    <h3>Playlists</h3>
    <table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each playlists}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.status}}</td>
                <td>
                    <a href="playlist/{{this.id}}">View</a> 
                    </td>    
              </tr>
            {{/each}}
        </ul>
    </tbody>
    </table>
    <div class="btn-group btn-group-block add-button-wrapper">
        {{#if authenticated}}
       <a href="/add-playlist"><button class="btn btn-primary">Add Playlist</button></a>
       {{/if}}
    </div>
</main>