<main>
    <style>
        header {
            display: flex;
            justify-content: space-between;
            margin : 20px
        }
    </style>
    <header>
        <h3>
            Playlist:
        </h3>
        <a href="/add-song/{{this.playlistId}}"> <button class="btn btn-primary">Add New Song </button></a>
    </header>
    <div class="song-wrapper">
        {{#each songs}}
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">{{this.name}}</div>
            </div>
            <div class="card-body">
                <audio controls>
                    <source src="/{{this.url}}" type="audio/mp3">
                </audio>
            </div>
        </div>
        {{/each}}
    </div>
</main>