<main>
    <h3>Name : {{ fullname }}</h3>
    <h2>Playlists</h2>
    <table class="table">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr>
                <td>{{this.playlistId}}</td>
                <td>{{this.playlistName}}</td>
                <td>
                    <a href="/playlist/{{this.playlistId}}">View</a>
                    </td>
            </tr>
            {{/each}}
        </ul>
    </tbody>
    </table>
</main>