<header class="navbar">
    <section class="navbar-section">
        <a href="/" class="btn btn-link">Home</a>
        <a href="/playlists" class="btn btn-link">Playlists</a>
        <a href="/accounts" class="btn btn-link">Accounts</a>
        {{#if authenticated}}
        <a href="/profile" class="btn btn-link">My playlists</a>
        {{/if}}
    </section>
    <section class="navbar-center">
        <!-- centered logo or brand -->
    </section>
    <section class="navbar-section">
        {{#if authenticated}}
        <a href="/logout" class="btn btn-link">Logout</a>
        {{else}}
        <a href="/login" class="btn btn-link">Login</a>
        <a href="/register" class="btn btn-link">Register</a>
        {{/if}}
        <a href="/contact" class="btn btn-link">Contact</a>
        <a href="/about" class="btn btn-link">About</a>
    </section>
</header>