<div class="off-canvas">
  <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
    <i class="icon icon-menu"></i>
  </a>
  <div id="sidebar-id" class="off-canvas-sidebar" >
    {{#if authenticated}}   
   <div>
   <a href="/accounts"><button class="btn sidebutton "> Accounts</button></a>
   </div>
   {{/if}}
   <div>
   <a href="/contact"><button class="btn sidebutton "> Contact</button></a>
   </div>
   <div>
   <a href="/about"><button class="btn sidebutton "> About</button></a>
   </div>
   {{#if authenticated}}   
   <div>
   <a href="/logout"><button class="btn sidebutton "> Logout</button></a>
   </div>
    {{/if}}
  </div> 

  <a class="off-canvas-overlay" href="#close"></a>
  <div class="off-canvas-content">
    <a href="/" class="btn btn-link">Home</a>
    <a href="/playlists" class="btn btn-link">All Playlists</a>
     {{#if authenticated}}
    <a href="/profile" class="btn btn-link">My playlists</a>
        {{else}}
        <a href="/login" class="btn btn-link">Login</a>
        <a href="/register" class="btn btn-link">Register</a>
        {{/if}}
  </div>
</div>
